<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstaDev</title>
    <script src="https://kit.fontawesome.com/84ef5dc63b.js" crossorigin="anonymous"></script>
    @switch (ViewData["Title"])
    {
        case "Cadastro":
        <link rel="stylesheet" href="~/css/insta_cadastro.css">
            break;
        case "Login":
        <link rel="stylesheet" href="~/css/loginstyle.css">
            break;
        case "Perfil":
        <link rel="stylesheet" href="~/css/stylePerfil.css">
            break;
        case "Feed":
        <link rel="stylesheet" href="~/css/styleFeed.css">
            break;
        @* case "Cadastro":
        <link rel="stylesheet" href="~/css/insta_cadastro.css">
            break; *@
        default:
            break;
    }
    
</head>

<body>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<<<<<<< HEAD

    <footer>
        <div class="container container_footer">
            <img src="/imagePerfil/Instadev.png" alt="logo Instadev">
            <small>© 2021 Instadev</small>
        </div>
    </footer>
=======
>>>>>>> 9d4880e84ba77f274cdb7ef000e22271d5d3071b
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
