@{
    ViewData["Title"] = "Login";
}

<section class="grid container">
    <div class="container_login">
        <div class="container_logo">
            <img class="logo" src="~/Img/Instadev.svg" alt="Logo">
        </div>
        <form class="container_form" action= '@Url.Action("Logar")' method="POST">

            <label for="Email"></label>
            <input class="campo" placeholder="Email" type="email" name="Email" required>

            <label for="Senha"></label>
            <input class="campo" placeholder="Senha" type="password" name="Senha" required>

            <div class="erro">@TempData.Peek("Mensagem")</div>

            <button class="btn" type="submit">Entrar</button>

        </form>
        <div class="container_recuperar">
            <div class="ajustar">
                <hr class="linha">
                <span class="texto_linha">Ou</span>
                <hr class="linha">
            </div>
            <a class="recuperar_link" href="#">Esqueceu a Senha?</a>
        </div>
    </div>
</section>
<div class="grid container_cadastrar">
    <span class="cadastrar_span">Não tem uma conta? <a class="cadastrar_link" asp-are = "" asp-controller = "Cadastrar" asp-action = "Index">Cadastre-se</a></span>
</div>
<div class="grid container_links">
    <span class="links_span">Obtenha o aplicativo</span>
    <div>
        <img src="~/Img/app_store 1.png" alt="App Store">
        <img src="~/Img/google_play 1.png" alt="Play Store">
    </div>
</div>