*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: #fafafa;
    padding-top: 150px;
    padding-left: 789px;
    height: 1000px;
}
.color{
    background-color: white;
    height: 461px;
    width: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F1F1F1;
}
section{
    /* background-color: rgb(255, 0, 0); */
    height: 657px;
    width: 342px;
    /* margin-top: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    height: 63px;
    width: 165px;
    margin-top: 30px;
}
.boxtxt1{
    margin: 10px 0 10px 0;
    height: 38px;
    width: 209px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.txt1{
    font-family: 'Segoe UI';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    color: #909090;
}

.txt1_{
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    color: #909090;
}

.boxInput{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input{
    height: 35px;
    width: 267px;
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    /* text-decoration: none; */
    padding-left: 12px;
}

input::placeholder{
    color: #AFAFAF;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: 400;
}

.cadastro{
    margin-top: 7px;
    text-decoration: none;
    background-color: #2686CC;
    font-family:'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #ffff;
    width: 267px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border:none;
}

.txt2{
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #909090;
    margin-bottom: 48px;
    margin-top: 17px;
}

.boxtxt3{
    height: 75px;
}

.txt3{
    border: 1px solid #F1F1F1;
    width: 342px;
    background-color: white;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 700;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 75px;
}

.liNk{
    color: #2686CC;
    margin-left: 5px;
    text-decoration: none;
}

.txt4{
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.app{
    height: 39px;
    width: 133px;
}

